Repository exercism/bash, pull requests merged in 2025-01, with the labels that each got.

#717 Sync docs and metadata
  exercises/practice/affine-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/change/.docs/instructions.md
  exercises/practice/change/.docs/introduction.md
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.docs/introduction.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.docs/introduction.md
  exercises/practice/hamming/.meta/config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.docs/introduction.md
  exercises/practice/phone-number/.docs/introduction.md
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.docs/introduction.md
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.docs/introduction.md
  exercises/practice/sublist/.docs/instructions.md
Labels: x:action/sync, x:type/docs

#718 Sync tests
  exercises/practice/bob/.meta/tests.toml
  exercises/practice/bob/bob.bats
  exercises/practice/forth/.meta/tests.toml
  exercises/practice/forth/forth.bats
  exercises/practice/pig-latin/.meta/tests.toml
  exercises/practice/pig-latin/pig_latin.bats
Labels: x:action/sync, x:module/practice-exercise, x:type/content

#720 Functions concept: fix broken link in admonition block
  concepts/functions/about.md
  concepts/functions/introduction.md
Labels: x:action/fix, x:module/concept, x:type/docs, x:rep/small

#723 Sync docs and metadata
  exercises/practice/anagram/.docs/instructions.md
  exercises/practice/grains/.meta/config.json
  exercises/practice/leap/.meta/config.json
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/luhn/.docs/introduction.md
  exercises/practice/pascals-triangle/.docs/introduction.md
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/say/.meta/config.json
Labels: x:type/docs, x:rep/small

#724 Replace beer song with bottle song
  config.json
  exercises/practice/beer-song/.deprecated
  exercises/practice/bottle-song/.docs/instructions.md
  exercises/practice/bottle-song/.meta/config.json
  exercises/practice/bottle-song/.meta/example.sh
  exercises/practice/bottle-song/.meta/tests.toml
  exercises/practice/bottle-song/bats-extra.bash
  exercises/practice/bottle-song/bottle_song.bats
  exercises/practice/bottle-song/bottle_song.sh
Labels: x:action/create, x:module/practice-exercise

#725 Make top-level headers consistent
  concepts/commands-and-arguments/about.md
  concepts/commands-and-arguments/introduction.md
  concepts/conditionals/about.md
  concepts/conditionals/introduction.md
  concepts/functions/about.md
  concepts/functions/introduction.md
  concepts/looping/about.md
  concepts/looping/introduction.md
  concepts/pipelines/about.md
  concepts/pipelines/introduction.md
  concepts/quoting/about.md
  concepts/quoting/introduction.md
  concepts/variables/about.md
  concepts/variables/introduction.md
Labels: x:action/fix, x:type/docs, x:rep/small
